.App {
  text-align: center;
  background-color: #F2E3DB;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #414833;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #F2E3DB;
}

.navbar button {
  background-color: #F2E3DB;
}

.navbar button a {
  color: #414833;
}

.cacti img:hover {
  width: auto;
  height: 270px;
}

.navbar a:hover {
  color: white;
  text-decoration: overline
}

.icons {
  font-size: xx-large;
}

.details button {
  background-color: #F2E3DB;
  width: 70px;
  height: 30px;
  color: #414833;
}

.details button a {
  color: #414833;
  text-decoration: none;
}

.details button:hover {
  width: 100px;
  background-color: #414833;
  color: #F2E3DB;
}

.cactus button {
  background-color: #b6ad90;
  border-radius: 50%;
}

.cacti aside select {
  background-color: #F2E3DB;
  height: 50px;
  font-size: x-large;
}