body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cacti{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cacti section{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: auto;
  align-items: center;
}

.cacti div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 10px;
}

.cacti img {
  width: auto;
  height: 200px;
}
